telemetry model-driven
 destination-group 1
  vrf Mgmt-intf
  address-family ipv4 172.16.1.12 port 5432
   encoding self-describing-gpb
   protocol tcp
  !
 !
 sensor-group Compass-Core
  sensor-path Cisco-IOS-XR-clns-isis-oper:isis/instances/instance/topologies/topology/frr-summary
  sensor-path Cisco-IOS-XR-clns-isis-oper:isis/instances/instance/topologies/topology/ipv4-routes/ipv4-route
 !
 subscription Compass-Core-Sub
  sensor-group-id Compass-Core sample-interval 30000
  destination-id 1
 !

