hostname SunA
!
username cisco
 group root-lr
 group cisco-support
 password cisco
!
call-home
 service active
 contact smart-licensing
 profile CiscoTAC-1
  active
  destination transport-method http
!
interface MgmtEth0/RP0/CPU0/0
 ipv4 address 172.16.1.150 255.255.255.0
 no shutdown
!
netconf-yang agent
 ssh
!
ssh server rate-limit 600
ssh server v2
ssh server netconf vrf default
!
end
